<nav class="navbar navbar-expand-lg navbar-dark bg-success p-3">
    <div class="container">
        <a class="navbar-brand text-white" routerLink="/home">GreenBus</a>


        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" [ngClass]="{ 'show': isMenuOpen }" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link custom-link" routerLink="/home" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="isMenuOpen = false">Home</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link" routerLink="/station" routerLinkActive="active"
                            (click)="isMenuOpen = false">Stations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link" routerLink="/buses" routerLinkActive="active"
                            (click)="isMenuOpen = false">Buses</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" routerLink="/about" routerLinkActive="active"
                        (click)="isMenuOpen = false">About</a>
                </li>
            </ul>



<button
  class="btn p-0 border-0 bg-transparent"
  type="button"
  data-bs-toggle="dropdown"
  aria-expanded="false"
>
  <i class="bi bi-person-circle fs-4 text-white"></i>
</button>


 <ul class="dropdown-menu dropdown-menu-end shadow rounded-3 border-0 mt-2">
  <ng-container *ngIf="isLoggedIn; else guestOptions">
    <li>
      <span class="dropdown-item-text fw-semibold text-primary">Hi, {{ user?.name }}</span>
    </li>
    <li><a class="dropdown-item" routerLink="/account"><i class="bi bi-person me-2"></i>Profile</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><button class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-right me-2"></i>Logout</button></li>
  </ng-container>

  <ng-template #guestOptions>
    <li><a class="dropdown-item" routerLink="/login"><i class="bi bi-box-arrow-in-right me-2"></i>Login</a></li>
    <li><a class="dropdown-item" routerLink="/register"><i class="bi bi-pencil-square me-2"></i>Register</a></li>
  </ng-template>
</ul>

</div>


        </div>
</nav>