.custom-link {
  color: #fffdfd !important;
  transition: all 0.3s ease;
  font-size: 16px;
}

.custom-link:hover {
  font-size: 18px;
  cursor: pointer;
}

.custom-link.active {
  color: #000000 !important; 
  font-weight: bold;
}

.dropdown-menu {
  min-width: 180px;
  font-size: 0.95rem;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

